@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}
body{
    font-family: 'Barlow', sans-serif;
}
select{
    -webkit-appearance: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
